    <div class="container" style="padding-top:60px">
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>I am currently studying computer programming at Seneca College for three semesters.
            Before that, I worked as an ECE at Daycare.
            I started computer programming because I wanted to have a more professional career.
            It's a study that I started without background knowledge, and it's hard enough to sit late all night, but it's rewarding when I make the output I want.
            I will get a job soon, and I want to be a developer who can continue to develop.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>It will be update for Assignment5.</p>
        </aside>
      </div>
    </div>